# Better ls
alias ls='ls -al --color=auto'
alias ll='ls -al --color=auto'

# nvim directly to current dir
# alias nvim='nvim .'

# Instaconfig nvim
alias nvim-config='nvim ~/.config/nvim'

# Better grep - with color
alias grep='grep --color=auto'

# Better history - add dates and process elapse times
alias history='history -i -D'

# For dotfile management
# alias config='/usr/bin/git --git-dir=/Users/chriscrain/.config/ --work-tree=/Users/chriscrain'
