[".config/ohmyzsh/.oh-my-zsh"]
    type = "archive"
    url = "https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"
[".config/ohmyzsh/.zsh_custom/plugins/zsh-syntax-highlighting"]
    type = "git-repo"
    url = "https://github.com/zsh-users/zsh-syntax-highlighting.git"
    exact = true
    refreshPeriod = "168h"
[".config/ohmyzsh/.zsh_custom/plugins/zsh-autosuggestions"]
    type = "git-repo"
    url = "https://github.com/zsh-users/zsh-autosuggestions.git"
    exact = true
    refreshPeriod = "168h"
[".config/ohmyzsh/.zsh_custom/plugins/zsh-completions"]
    type = "git-repo"
    url = "https://github.com/zsh-users/zsh-completions.git"
    exact = true
    refreshPeriod = "168h"
[".config/ohmyzsh/.zsh_custom/themes/powerlevel10k"]
    type = "git-repo"
    url = "https://github.com/romkatv/powerlevel10k.git"
    exact = true
    refreshPeriod = "168h"
[".config/fzf"]
    type = "git-repo"
    url = "https://github.com/junegunn/fzf.git"
    exact = true
[".local/nvim"]
    type = "archive"
{{- if eq .chezmoi.os "darwin" }}
    url = "https://github.com/neovim/neovim/releases/download/v0.11.5/nvim-macos-arm64.tar.gz"
{{- else if eq .chezmoi.os "linux" }}
    url = "https://github.com/neovim/neovim/releases/download/v0.11.5/nvim-linux-x86_64.tar.gz"
{{- end }}
    exact = true
    stripComponents = 1
{{- if eq .chezmoi.os "darwin" }}
[".local/tree-sitter-cli/tree-sitter-macos-arm64.gz"]
    url = "https://github.com/tree-sitter/tree-sitter/releases/download/v0.26.3/tree-sitter-macos-arm64.gz"
{{- else if eq .chezmoi.os "linux" }}
[".local/tree-sitter-cli/tree-sitter-linux-x64.gz"]
    url = "https://github.com/tree-sitter/tree-sitter/releases/download/v0.26.3/tree-sitter-linux-x64.gz"
{{- end }}
    type = "file"
    exact = true
    stripComponents = 1
