[submodule ".config/ohmyzsh/.zsh_custom/plugins/zsh-autosuggestions"]
	path = .config/ohmyzsh/.zsh_custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule ".config/ohmyzsh/.zsh_custom/plugins/zsh-completions"]
	path = .config/ohmyzsh/.zsh_custom/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule ".config/ohmyzsh/.zsh_custom/plugins/powerlevel10k"]
	path = .config/ohmyzsh/.zsh_custom/plugins/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
