{{- if eq .chezmoi.os "darwin" }}
# Setup fzf
# ---------
# Define the paths as variables

FZF_PATH="/usr/bin"
FZF_SHELL_DIR="/usr/share/fzf/shell"

# Check if the path is already in $PATH
if [[ ! "$PATH" == *${FZF_PATH}* ]]; then
  PATH="${PATH:+${PATH}:}${FZF_PATH}"
fi

source "/opt/homebrew/opt/fzf/shell/completion.zsh"
source "/opt/homebrew/opt/fzf/shell/key-bindings.zsh"

# Ensure the shell directory exists
if [ ! -d "$FZF_SHELL_DIR" ]; then
  echo "Directory $FZF_SHELL_DIR does not exist. Creating it..."
  sudo mkdir -p "$FZF_SHELL_DIR"
fi

# Download the completion.zsh script if it doesn't exist
if [ ! -f "$FZF_SHELL_DIR/completion.zsh" ]; then
  echo "completion.zsh not found. Downloading..."
  sudo curl -fsSL "$COMPLETION_URL" -o "$FZF_SHELL_DIR/completion.zsh"
fi

# Download the key-bindings.zsh script if it doesn't exist
if [ ! -f "$FZF_SHELL_DIR/key-bindings.zsh" ]; then
  echo "key-bindings.zsh not found. Downloading..."
  sudo curl -fsSL "$KEY_BINDINGS_URL" -o "$FZF_SHELL_DIR/key-bindings.zsh"
fi
{{- end }}
