# Setup fzf
# ---------
# Define the path as a variable
{{ if eq .chezmoi.os "darwin" }}
FZF_PATH="/opt/homebrew/opt/fzf/bin"
{{ else if eq .chezmoi.os "linux" }}
FZF_PATH="/usr/bin"
{{ end }}

# Check if the path is already in $PATH
if [[ ! "$PATH" == *${FZF_PATH}* ]]; then
  PATH="${PATH:+${PATH}:}${FZF_PATH}"
fi



{{ if eq .chezmoi.os "darwin" }}
# Auto-completion
source "/opt/homebrew/opt/fzf/shell/completion.zsh"

# Key bindings
source "/opt/homebrew/opt/fzf/shell/key-bindings.zsh"
{{ else if eq .chezmoi.os "linux" }}
# Define the FZF shell directory and GitHub URLs
FZF_SHELL_DIR="/usr/share/fzf/shell"
COMPLETION_URL="https://raw.githubusercontent.com/junegunn/fzf/master/shell/completion.zsh"
KEY_BINDINGS_URL="https://raw.githubusercontent.com/junegunn/fzf/master/shell/key-bindings.zsh"

# Ensure the /usr/share/fzf/shell directory exists
if [ ! -d "$FZF_SHELL_DIR" ]; then
  echo "Directory $FZF_SHELL_DIR does not exist. Creating it..."
  sudo mkdir -p "$FZF_SHELL_DIR"
fi

# Download the completion.zsh script if it doesn't exist
if [ ! -f "$FZF_SHELL_DIR/completion.zsh" ]; then
  echo "completion.zsh not found. Downloading..."
  sudo curl -fsSL "$COMPLETION_URL" -o "$FZF_SHELL_DIR/completion.zsh"
fi

# Download the key-bindings.zsh script if it doesn't exist
if [ ! -f "$FZF_SHELL_DIR/key-bindings.zsh" ]; then
  echo "key-bindings.zsh not found. Downloading..."
  sudo curl -fsSL "$KEY_BINDINGS_URL" -o "$FZF_SHELL_DIR/key-bindings.zsh"
fi
{{ end }}
