#######################################################
# SHELL
#######################################################

{{- if eq .chezmoi.os "darwin" -}}
eval $(/opt/homebrew/bin/brew shellenv)
{{ end }}

# Source common shell configurations
for config_file in "$HOME/.config/shell/"*; do
    [ -f "$config_file" ] && source "$config_file"
done
