[core]
  editor = code --wait
  excludesfile = ~/.config/git/ignore
[include]
    path = ~/.local/config/git/config
[user]
	name = {{ .chezmoi.username }}
[push]
  autoSetupRemote = true
[pull]
  rebase = false
